spring:
  application:
    name: trace-ingestor
  profiles:
    default: prod
  main:
    banner-mode: off
  cloud:
    stream:
      function:
        definition: trace-ingestor
        bindings:
          trace-ingestor-in-0: input
          trace-ingestor-out-0: output
  # Define Data source access to store notification definitions and templates
  datasource:
    driverClassName: org.postgresql.Driver
  ## Hibernate Properties
  # The SQL dialect makes Hibernate generate better SQL for the chosen database
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    ## This is important
    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate:
      ddl-auto: validate
  # FLYWAY (FlywayProperties)
  # Version to start migration
  flyway:
    baselineOnMigrate: true
    baseline-version: 0
    sql-migration-prefix: V
#  autoconfigure:
#    exclude:
#      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

hibernate:
  types:
    print:
      banner: false


logging:
  config: classpath:log4j2.yaml
  level:
    eu:
      csgroup:
        coprs: INFO

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
      enabled: true
      livenessState:
        enabled: true
      readinessState:
        enabled: true

info:
  app:
    description: ^project.description^
    name: ^project.artifactId^
    version: ^project.version^

---

spring:
  config:
    activate:
      on-profile: dev-embedded
  datasource:
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    ## This is important
    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate:
      ddl-auto: create-drop
  flyway:
    enabled: false

logging:
  config: classpath:log4j2-test.yaml
  level:
    eu:
      csgroup:
        coprs: DEBUG
    org:
      springframework:
        transaction: TRACE

---

spring:
  config:
    activate:
      on-profile: dev-integration
  # Define Data source access to store notification definitions and templates
  datasource:
    driverClassName: org.postgresql.Driver
    username: psql_user
    password: psql_password
    url: jdbc:postgresql://localhost:5432/trace
  jpa:
    ## Hibernate Properties
    # The SQL dialect makes Hibernate generate better SQL for the chosen database
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    ## This is important
    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate:
      ddl-auto: validate
  # FLYWAY (FlywayProperties)
  # Version to start migration
  flyway:
    baselineOnMigrate: true
    baseline-version: 0
    sql-migration-prefix: V
    enabled: true
  test:
    database:
      replace: NONE

logging:
  config: classpath:log4j2-test.yaml
  level:
    eu:
      csgroup:
        coprs: DEBUG
    org:
      springframework:
        jdbc:
          core:
            JdbcTemplate: DEBUG
            StatementCreatorUtils: TRACE