apiVersion: v1
kind: ConfigMap
metadata:
  name: trace-filter-config
  namespace: monitoring
data:
  filter.yaml: |
    filters:
      -
        name: IngestionTrigger_Dsib
        rules:
          log.trace.task.name: IngestionTrigger
          log.trace.task.event: END
          log.trace.task.status: OK
          log.trace.task.input[filename_string]: DCS_.+?_DSIB\.xml$
      -
        name: IngestionTrigger_Chunk
        rules:
          log.trace.task.name: IngestionTrigger
          log.trace.task.event: END
          log.trace.task.status: OK
          log.trace.task.input[filename_string]: DCS_.+?\.raw$
      -
        name: IngestionTrigger_AuxData
        rules:
          log.trace.task.name: IngestionTrigger
          log.trace.task.event: END
          log.trace.task.status: OK
      -
        name: IngestionWorker_Dsib
        rules:
          log.trace.task.name: IngestionWorker
          log.trace.task.event: END
          log.trace.task.status: OK
          log.trace.task.output[filename_string]: DCS_.+?_DSIB\.xml$
      -
        name: IngestionWorker_Chunk
        rules:
          log.trace.task.name: IngestionWorker
          log.trace.task.event: END
          log.trace.task.status: OK
          log.trace.task.output[filename_string]: DCS_.+?\.raw$
      -
        name: IngestionWorker_AuxData
        rules:
          log.trace.task.name: IngestionWorker
          log.trace.task.status: OK
          log.trace.task.event: END
      -
        name: MetadataExtraction_Dsib
        rules:
          log.trace.task.name: MetadataExtraction
          log.trace.task.event: END
          log.trace.task.status: OK
          log.trace.task.input[filename_string]: DCS_.+?_DSIB\.xml$          
      -
        name: MetadataExtraction_Chunk
        rules:
          log.trace.task.name: MetadataExtraction
          log.trace.task.event: END
          log.trace.task.status: OK
          log.trace.task.input[filename_string]: DCS_.+?\.raw$          
      -
        name: MetadataExtraction_AuxData
        rules:
          log.trace.task.name: MetadataExtraction
          log.trace.task.event: END
          log.trace.task.status: OK
          log.trace.task.input[filename_string]: ^(S1.*(AUX_|AMH_|AMV_|MPL_ORB).*)|(S1.*(_OPER_REP_MP_MP__PDMC_|_OPER_REP__SUP___|_OPER_MPL_SP.{4}_PDMC_|_OPER_REP_STNACQ_.{4}_|_OPER_REP_STNUNV_.{4}_|_OPER_AM[VH_]_FAILUR_MPC__|_OPER_REP__MACP__).*\.(zip|ZIP))|((S2)(A|B|_)_(OPER|TEST)_((AUX|GIP)_[0-9A-Z_]{7})(.*)\.TGZ)|(S3[AB_]_([0-9a-zA-Z_]{9})AX_([0-9]{8}T[0-9]{6})_([0-9]{8}T[0-9]{6})_([0-9]{8}T[0-9]{6})_(_{17})_([0-9a-zA-Z_]{3})_(((O|F|R|D|_)_(NR|NT|ST|SN|NS|NN|AL|__)_([a-zA-Z0-9_]{3}))|_{8})\.SEN3\.(zip|ZIP))$
      -
        name: MetadataExtraction_Product
        rules:
          log.trace.task.name: MetadataExtraction
          log.trace.task.event: END
          log.trace.task.status: OK
      -
        name: JobProcessing_Product
        rules:
          log.trace.task.name: JobProcessing
          log.trace.task.event: END
          log.trace.task.status: OK
      -
        name: PripWorker_Product
        rules:
          log.trace.task.name: PripWorker
          log.trace.task.event: END
          log.trace.task.status: OK
      -
        name: OQC_Product
        rules:
          log.trace.task.name: OQC
          log.trace.task.event: END
          log.trace.task.status: OK
      -
        name: PripTempDownloadUrl_Product
        rules:
          log.trace.task.name: PripTempDownloadUrl
          log.trace.task.event: END
          log.trace.task.status: OK
      -
        name: EvictionManagementWorker_Product
        rules:
          log.trace.task.name: EvictionManagementWorker
          log.trace.task.event: END
          log.trace.task.status: OK